<%- layout("/layouts/boilerplate") -%>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
/>
<link rel="stylesheet" href="/css/index.css" />
<script defer src="/js/app.js"></script>
<body>
  <div class="heroo a">
    <div class="heroo-container">
      <div class="heroo-text offset-1">
        <h1>India's simplest <br />scholarship <br />discovery platform.</h1>
      </div>
      <span class="heroo-desc offset-1"
        >The #1 platform for finding scholarships for female
        students.&nbsp;&nbsp;<a href="http://localhost:3000/" class="underline"
          >Try it for free!</a
        ></span
      >
      <span class="offset-1"
        ><a href="#"
          ><img
            src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Download_on_the_App_Store_Badge.svg"
            alt="app-store" /></a
      ></span>
    </div>
    <img class="heroo-girl" src="/assets/girl-img.png" alt="girl" />
  </div>

  <div class="gradient a">
    <img
      src="https://curiousworld-static-files.s3.amazonaws.com/cw_files/ios-devices-clone.png"
      alt="device"
    />
    <span class="gradient-text"
      >Apni Sakhi is available on the
      <a class="underline" href="#">Apple App Store</a> and as a
      <a class="underline" href="#">Web App</a></span
    >
  </div>
  <div class="containers hidden">
    <div class="card" style="width: 24rem">
      <img src="/assets/video.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Interactive and short video tutorials</h5>
        <p class="card-text mt-4">
          Learn through engaing video tutorials on how to get scholarships.
        </p>
      </div>
    </div>
    <div class="card" style="width: 24rem">
      <img
        src="https://curiousworld-static-files.s3.amazonaws.com/cw_files/Group%2030.png"
        style="width: 11rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Personalized Scholarship Recommendation</h5>
        <p class="card-text mt-4">
          Scholarship recommendations are customized based on your needs.
        </p>
      </div>
    </div>
    <div class="card" style="width: 24rem">
      <img
        src="https://curiousworld-static-files.s3.amazonaws.com/cw_files/Group%2032.png"
        style="width: 12rem"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Engaging visuals making learning fun</h5>
        <p class="card-text mt-4">
          Take mentorships session from successful women abd interact with the
          community.
        </p>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="feild">
      <img
        src="https://curiousworld-static-files.s3.amazonaws.com/s3fs-public/inline-images/play-video-icon.png"
        class="icon"
      />
      <span class="play-action ms-3">SEE IT IN ACTION</span>
    </div>
    <p class="head-b">
      If you have any questions about how to get scholarship, please
      <a class="video underline" href="#">watch the video tutorial</a>
    </p>
  </div>
  <div class="b-block b">
    <p class="background-para">
      Let's make education easier and more interactive.join the community and
      share your experiences
    </p>

    <img
      class="foot-img"
      src="https://curiousworld-static-files.s3.amazonaws.com/cw_files/character-banner.png"
    />
  </div>
  <div class="featured">
    <h1 style="text-align: center">Featured Scholarships</h1>
    <div class="line"></div>
    <div class="card-container">
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/vv.jpeg"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/j.png"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/g.png"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/vv.jpeg"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/u.png"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/j.png"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/vv.jpeg"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
      <div class="card new-card" style="width: 18rem">
        <img
          src="/assets/g.png"
          class="card-img-top"
          style="width: 100%"
          alt="..."
        />

        <a href="/scholarship"
          ><button type="button" class="btn btn-outline-primary purple">
            Science Scholarships
          </button></a
        >
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="section section-1">
      <!-- <div class="section-1-logo">
        <img src="./assets/logo2.png" alt="logo" />
      </div> -->
      <div class="section-1-tagline">
        <p>India's No. #1 Scholarship Search Engine</p>
      </div>
      <div class="section-1-add">
        <p>
          <b>Address:</b>1st Floor, Sati Plaza, Barrackpore Chiriamore Crossing,
          Kolkata-700120
        </p>
      </div>
      <div class="section-1-Email">
        <p style="line-height: 30px"><b>Email:</b>info@scholarshipforme.com</p>
      </div>
      <div class="section-1-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
    </div>
    <div class="section section-2">
      <div class="section-2-title">
        <h4>Top Category</h4>
      </div>
      <div class="section-2-tags">
        <ul>
          <li><a href="#">General</a></li>
          <li><a href="#">SC/ST/OBS</a></li>
          <li><a href="#">Girls</a></li>
          <li><a href="#">Minority</a></li>
          <li><a href="#">Physically Challenge</a></li>
        </ul>
      </div>
    </div>
    <div class="section section-3">
      <div class="section-2-title">
        <h4>Important Links</h4>
      </div>
      <div class="section-2-tags">
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Grievance</a></li>
          <li><a href="#">Bounty Program</a></li>
        </ul>
      </div>
    </div>
    <div class="section section-4">
      <div class="section-2-title">
        <h4>Join Our Newsletter</h4>
      </div>
      <div class="section-1-tagline">
        <p style="line-height: 50px; margin: 0 15px">
          India's No. #1 Scholarship Search Engine
        </p>
      </div>
      <div class="section-4-input">
        <input type="text" placeholder="Your email address" />
        <button>Subscribe Now!</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js">
    AOS.init({
      duration:1000,
    })
  </script>
</body>
