<%- layout("/layouts/boilerplate") -%>
<link rel="stylesheet" href="/css/scholarship.css" />
<body>
  <section>
    <div class="card new-card offset-1" style="width: 18rem">
      <img
        src="/assets/alber.png"
        class="card-img-top"
        style="width: 100%"
        alt="..."
      />

      <!-- <button type="button" class="btn btn-outline-primary purple">
        Science Scholarships
      </button> -->
    </div>
    <div class="scholarship card offset-1" style="width: 35rem">
      <img src="/assets/scholar.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title center">Amazing Science</h5>
        <p class="card-text center">
          Science scholarships offer a gateway for Indian students to excel in
          their academic pursuits and contribute to the scientific community. By
          availing these scholarships, students can overcome financial barriers
        </p>
        <div class="video center">
          <a href="#" class="btn btn-primary purple">Watch Video</a>
        </div>
      </div>
    </div>
  </section>
</body>
